body {
  font-family: "Open Sans", Helvetica, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bodoni MT", Helvetica, sans-serif;
  font-weight: 700; }

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table; }

.clearfix::after {
  clear: both; }

.wrapper {
  width: 1280px;
  margin: 0 auto;
  max-width: 100%; }

#header_banner {
  background: #f1f1f1;
  padding: 2em 4em;
  overflow-y: hidden;
  height: 600px; }

.logo img {
  width: 64px;
  height: 64px; }

.navbar {
  float: right; }
  .navbar li {
    float: left;
    list-style: none;
    margin-left: 7em; }
    .navbar li a {
      text-decoration: none;
      font-size: 1.5em;
      font-family: "Bodoni MT", Helvetica, sans-serif;
      font-weight: 700; }

.content {
  float: left;
  margin: .8em auto; }
  .content h1 {
    float: right;
    font-size: 6em;
    color: #34314c;
    margin-left: 1.5em; }
    .content h1::before {
      content: " ";
      height: 50%;
      width: 5px;
      position: absolute;
      top: 1.85em;
      right: 7em;
      background: #34314c; }

#coding {
  background-image: linear-gradient(rgba(52, 49, 76, 0.8), rgba(52, 49, 76, 0.8)), url("../img/code-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 640px; }

#phrase {
  background: #fff;
  width: 50%;
  margin: 0;
  height: 100%; }
  #phrase .content_wrapper {
    width: 80%;
    padding: 6em 0;
    margin: auto; }
    #phrase .content_wrapper h3 {
      font-size: 2.45em;
      margin: 1.8em 0 1em 0;
      color: #34314c; }
    #phrase .content_wrapper p {
      font-size: 1em;
      font-weight: 200;
      line-height: 2.75em;
      text-align: justify; }

.row {
  width: 100%;
  margin: 2em 0; }
  .row::before, .row::after {
    content: " ";
    display: table; }
  .row::after {
    clear: both; }

#work {
  background: #34314c;
  padding: 5em 0; }
  #work header {
    margin-bottom: 4em; }
  #work h3 {
    color: #fff;
    text-align: center;
    font-size: 2.75em;
    margin-bottom: .5em; }
  #work .text {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    font-weight: 200; }
  #work .card {
    background: #fff;
    border-radius: .35em;
    height: 450px;
    display: table; }
  #work .card_full {
    width: 100%; }
  #work .card_1 {
    background-image: url("../img/closetsale.jpg");
    background-size: 100%;
    background-position: top left;
    background-repeat: no-repeat; }
  #work .card_2 {
    background-image: url("../img/Creative-Agency.jpg");
    background-size: 100%;
    background-position: top left;
    background-repeat: no-repeat; }
  #work .card_3 {
    background-image: url("../img/shoes.jpg");
    background-size: 100%;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover; }
  #work .card_4 {
    background-image: url("../img/genesis-cinemas.jpg");
    background-size: 100%;
    background-position: top left;
    background-repeat: no-repeat; }
  #work .card_half {
    width: 49%;
    float: left;
    height: 640px; }
  #work .view_more {
    width: 23%;
    float: right;
    vertical-align: middle; }
    #work .view_more a {
      float: left;
      display: inline-block;
      text-decoration: none;
      transition: all .3s ease-in-out; }
      #work .view_more a:hover h2 {
        color: #fff; }
      #work .view_more a h2 {
        font-size: 4.2em;
        margin: 0 auto;
        color: #c1c1c1;
        padding: 2em 0; }
  #work .card_third {
    width: 75%;
    margin-right: 1%;
    float: left; }
  #work .right {
    margin-left: 1%; }
  #work .left {
    margin-right: 1%; }
  #work .card_inner {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 1.5em 12%; }
    #work .card_inner p {
      font-size: 2.4em;
      font-weight: 200;
      color: #fff;
      margin-bottom: .2em; }
    #work .card_inner a {
      text-decoration: none; }
    #work .card_inner h2 {
      font-size: 4.2em;
      margin: 0 auto;
      color: #fff; }
  #work .pink,
  #work .red,
  #work .green,
  #work .blue {
    border-radius: .35em; }
  #work .pink {
    background-color: rgba(198, 0, 255, 0.7); }
  #work .green {
    background-color: rgba(51, 187, 74, 0.7); }
  #work .red {
    background-color: rgba(237, 20, 91, 0.7); }
  #work .blue {
    background-color: rgba(68, 62, 202, 0.7); }

#footer {
  background: #fff; }

.social_icons {
  float: right; }
  .social_icons li {
    float: left;
    list-style: none;
    margin-left: 2em; }

.follow {
  font-family: "Bodoni MT", Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 400; }
